body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body > div {
	height: 100%;
	display: flex;
	padding: 0 1em 0 1em;
}

pre {
  padding: 1em;
  background-color: #ccc;
}

.chatBoard{
  margin-top: 10px;
  width:95%; 
  margin-left:auto; 
  margin-right:auto;
  margin-bottom: 20px;
  height: 85%;
  border-left:1px #ccc solid; 
  border-right:1px #ccc solid; 
  border-bottom:1px #ccc solid;
}

.chatBoard.messageBox{
  height: 80%!important;
}

.messageBox{
  width: 100%;
  overflow:auto;
  padding-left: 5px;
  padding-right: 5px;
  height: -moz-calc(100% - (80px));
  height: -webkit-calc(100% - (80px));
  height: calc(100% - (80px));
}

.inputBox{
  padding-left: 5px;
  padding-right: 5px;
}

.userList{
  padding-left: 5px;
}

.contentHeight{
  height: 100%;
}
.message{
  margin-top: 5px;
}